<!DOCTYPE html>
<html lang="en">

<%- include('../partials/navbar.ejs') %>


    <body>

        <div class="site-wrap">

            <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>

            <%- include('../partials/navbar.ejs') %>



                <div class="site-section bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 mb-5">

                                <form action="/auth/sign-up" class="p-5 bg-white" method="post">
                                    <h2 class="mb-4 site-section-heading">Sign Up</h2>



                                    <div class="row form-group">
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <label class="text-black" for="username">Username</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                placeholder="Username">
                                        </div>

                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <label class="text-black" for="password">Password</label>
                                            <input type="password" id="password" name="password" class="form-control"
                                                placeholder="Password">
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <label class="text-black" for="isAdmin">Are You an Admin?</label>
                                            <input type="checkbox" id="isAdmin" name="isAdmin" class="form-control">
                                        </div>

                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Sign Up"
                                                class="btn btn-primary py-2 px-4 text-white">
                                            <p class="mb-0"><a href="/auth/login">Already Have an Account!</a></p>

                                        </div>
                                    </div>


                                </form>
                                <% if (error) { %>
                                    <p style="color:red" class="error">
                                        <%= error %>
                                    </p>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="site-section">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <p class="mb-0"><a href="/auth/sign-up" class="btn btn-primary py-3 px-5 text-white">Do
                                        Not Have an
                                        Account!</a></p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <%- include('../partials/footer.ejs') %>

            <%- include('../partials/scripts.ejs') %>


    </body>

</html>