<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Details</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Salon Details</h1>
    <div>
        <h2>Name: <%= foundSalon.name %></h2>
        <p>Location: <%= foundSalon.location %></p>
        <p>Opening Time: <%= foundSalon.openingTime %></p>
        <p>Closing Time: <%= foundSalon.closingTime %></p>
        <p>Working Days: <%= foundSalon.workingDays%></p>
        
        <h3>Staff:</h3>
            <ul>
                <% 
                    if (foundSalon.staffs && foundSalon.staffs.length > 0) { %>
                    <% foundSalon.staffs.forEach(staff => { %>
                        <li>
                            <strong><%= staff.name %></strong> - $<%= staff.speciality %>
                            <p>Years of Experience: <%= staff.yearsOfExperience %></p>
                            
                            <% if (foundUser && foundUser.isAdmin){%> 
                                <a href="/salons/<%= foundSalon._id %>/<%=staff._id%>/DeleteStaff">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>           
                                </a>  
                            <% } %>
                            
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No Staff Available.</li>
                <% } %>
            </ul>
        </div>
        
        <h3>Services:</h3>
        <ul>
            <% 
                if (foundSalon.services && foundSalon.services.length > 0) { %>
                <% foundSalon.services.forEach(service => { %>
                    <li>
                        <strong><%= service.name %></strong> - $<%= service.price %>
                        <p>Description: <%= service.description %></p>
                        <% if (foundUser && foundUser.isAdmin){%> 
                            <a href="/salons/<%= foundSalon._id %>/<%=service._id%>">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>        
                            </a>  
                        <% } %>
                        
                    </li>
                <% }) %>
            <% } else { %>
                <li>No Services Available.</li>
            <% } %>
        </ul>
    </div>
     <% if (foundUser && foundUser.isAdmin){%> 
    <a href="/salons/<%= foundSalon._id %>/edit">Edit Details</a>
    
    <form action="/salons/<%= foundSalon._id %>?_method=DELETE" method="post">
        <button type="submit">Delete Salon</button>
    <% } 
    else{ %>

    <%}
    %>
    </form>
    <% if (!foundUser.isAdmin){%> 
        <a href="/appointments/new/<%= foundSalon._id%>" class="button">Book New Appointment</a>
    <% } %>
    <a href="/salons">Back to salons</a>
</body>

</html>