<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Salon Details</h1>
        <div>
            <h2>Name: <%= foundSalon.name %></h2>
            <p>Location: <%= foundSalon.location %></p>
            <p>Opening Time: <%= foundSalon.openingTime %></p>
            <p>Closign Time: <%= foundSalon.closingTime %></p>
            <p>Working Days: <%= foundSalon.workingDays %></p>
        </div>


        <a href="/salons/<%= foundSalon._id %>/edit">Edit Details</a>
        
        <form action="/salons/<%=foundSalon._id%>?_method=DELETE" method="post">
        <button type="submit">Delete Salon</button>

        <a href="/salons">Back to salons</a>

</body>

</html>