<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointments List</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

        <div class="container list">
            <h2 class="page-title">Appointments List</h2>

            <ul>
                <% allAppointments.forEach(appointment=> { %>
                    <li class="appointment-item">
                        <a href="/appointments/<%= appointment._id %>">
                            Appointment for <strong>
                                <%= appointment.customerName %>
                            </strong> with <strong>
                                <%= appointment.staff.name %>
                            </strong> on <%= new Date(appointment.date).toLocaleDateString() %> </strong> in <strong> 
                            <%= appointment.salon.name %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <% if (!foundUser.isAdmin){%> 
            <div class="buttons-container">
                <a href="/appointments/new" class="button">Book New Appointment</a>
                <a href="/salons">Back to salons</a>
            </div>
            <% } %>
        </div>
</body>

</html>



<!-- notes only -->
    <div class="site-section">
      <div class="container">

        <div class="row">
          <% allAppointments.forEach(appointment=> { %>
          <a href="/appointments/<%= appointment._id %>">
            <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
              <div class="h-100 bg-light site-block-feature-7">
                <!-- <img src="/styles/images/img_1.jpg" alt="Image" class="img-fluid"> -->
                <div class="p-4 p-lg-5">

                  <h3 class="text-black h4">Appointment for <strong>
                                          <%= appointment.customerName %>
                                          <% console.log(appointment.customerName) %>
                                      </strong></h3> 
                  <p>with <strong>
                  <%= appointment.staff ? appointment.staff.name : "Staff not assigned" %>
                </strong> on <%= new Date(appointment.date).toLocaleDateString() %> in <strong  class="font-weight-bold text-primary">
                  <%= appointment.salon ? appointment.salon.name : "Salon not assigned" %>
                </strong></p>
                  
                </div>
                </a>
              </div>
            </div>
          <% }) %>
        </div>        